# dependencies
**/node_modules
/next-app/node_modules
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/next-app/.next/
/.next/
/out/

# production
/next-app/build
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
/next-app/.vercel
.vercel